.covid{
    
    .card{

        .card-header{
            font-size: 25px;
            font-weight: 600;
        }

        .body{
            font-size: 18px;
            font-weight: 400;
            padding: 0px 20px 20px 20px;
        }
    }


}