.paciente{


    .nuevaConsulta{
        background: #fff;
        padding: 20px;
        margin: 0px;

        .medico{
            margin: 0px;
            padding: 0px;
            align-items: center;
            text-align: center;
            h1{
                font-size: 18px;
                
            }

            select{
                width: 95%;
                border: solid 2px #aaa;
            }
        }

        .row{
            padding: 0px;
            margin: 0px;
        }
        .col-6{
            padding: 0px;
            margin: 0px;
        }

        .textarea{
            height: 100px;
            width: 100%;
            background: #ddd;
            outline: none;
            resize: none;
            overflow: auto;
            line-height: 25px;
            padding: 2px 10px;
            border: solid 0px #aaa;
        }
        .textarea:focus{
            border: solid 2px #5eb2b3;
        }

        .radio-container {
            display: inline-block;
            position: relative;
            padding-left: 30px;
            cursor: pointer;
            font-size: 16px;
            color: #666;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-right: 20px;
            
          }
          
          .radio-container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }
          
          .radio-container input:checked ~ .checkmark {
            background-color: #ddd;
          }
          
          .radio-container input:checked ~ .checkmark:after {
            display: block;
          }
          
          .radio-container .checkmark:after {
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 12px;
            height: 12px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: #57b846;
          }
          
          .checkmark {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #ddd;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
            box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
          }
          
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
       
    }


    .datos{
        
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        .card{
            margin-bottom: 10px;
            padding: 15px;
            background: rgba(68, 201, 152, 0.356);    
        }
        .card-header{
            background: none;  
            margin: 0px;
            padding: 10px;
        }
        h2{
            font-size: 25px;
            font-weight: 500;
            
        }
        ul.about-info li{
            margin-bottom: 5px;
            font-size: 14px;
        }
        ul.about-info li span {
            width: calc(100% - 100px); 
        }
        ul.about-info li span:first-child {
            font-weight: 500;
            color: #000000;
            width: 130px; }   

        button{
            padding: 6px;
            margin: 0px 10px 10px 10px;
            background-color: #4A5F63;
            color: #fff;
            font-weight: 600;
        }
    }
   

    .editar{
        background: #44C999;
        margin: 0px;
        padding: 10px;
        .form{
            margin: 0px;
            padding: 0px;

            .row{
                margin: 0px;
                padding: 0px;
            }

            .col-6{
                margin: 0px;
                padding: 0px;
                align-items: center;
                .input{
                    width: 95%;
                    margin: 5px;
                    padding: 10px 15px;

                    border: 0px solid #fff;
                    background-color: #fff;

                    border-radius: 4px;
                    -o-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    
                }
                .input:hover{
                    background-color: #f4ff9d;
                }

                .input:active{
                    background-color: #e6f578;
                }
                .input:focus{
                    background-color: #9dffd6;
                }

                .label{
                    width: 95%;
                    margin: 5px;
                    padding: 10px 15px;

                    border: 0px solid #fff;
                    background-color: #fff;

                    border-radius: 4px;
                    -o-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }
                
            }
            .register {
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                height:45px;
                background: #4A5F63;
                border-radius: 5px;
                -o-border-radius: 5px;
                -ms-border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                width: 100%;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                border: none;
                margin: 10px 0px 0px 0px;
                cursor: pointer;
        
            }
            .register:hover{
                background: rgb(49, 61, 63);
            }
        }

        
        
    }
    .boxBotones{
        margin: 0px;
        padding: 0px;
        width: 100%;

        .btn{
            width: 100%;
            height: 70px;
            margin: 10px;
            background: #4A5F63;
            
            color: rgb(255, 255, 255);
            cursor: pointer;
            .botones{
                width: 100%;
                align-items: center;
                align-content: center;
                text-align: center;
            }
            h4{
                font-size: 18px;
            }
        }

    
        
    }
    
   
   
    .col-5{
        margin: 0px;
        padding: 0px;
    }
    
}

.pacienteSettings{
    .boxBotones{
        margin: 0px;
        padding: 0px;
        width: 100%;
        .col-2{
            padding: 5px;
            margin: 0px;
        }
        .btn{
            width: 100%;
            height: 60px;
            margin-bottom:10px;
            background: #4A5F63;
            color: rgb(255, 255, 255);
            cursor: pointer;
            .botones{
                width: 100%;
                align-items: center;
                align-content: center;
                text-align: center;
            }
            h4{
                font-size: 14px;
            }
        }        
    }

    
    
    
    .datos2{
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 10px;
        background: rgba(68, 201, 152, 0.356); 
        
        h2{
            font-size: 25px;
            font-weight: 500;
            
        }
        ul.about-info li{
            margin-bottom: 5px;
            font-size: 14px;
        }
        ul.about-info li span {
            width: calc(100% - 100px); 
        }
        ul.about-info li span:first-child {
            font-weight: 500;
            color: #000000;
            width: 130px; }   

        button{
            padding: 6px;
            margin: 0px 10px 10px 10px;
            background-color: #5eb2b3;
            color: #fff;
            font-weight: 600;
        }
    
    }

    .editar{
        background: rgba(68, 201, 152, 0.356); 
        margin: 0px;
        padding: 10px;
        .form{
            margin: 0px;
            padding: 0px;

            .row{
                margin: 0px;
                padding: 0px;
            }

            .col-6{
                margin: 0px;
                padding: 0px;
                align-items: center;
                .input{
                    width: 95%;
                    margin: 5px;
                    padding: 10px 15px;

                    border: 0px solid #fff;
                    background-color: #fff;

                    border-radius: 4px;
                    -o-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    
                }
                .input:hover{
                    background-color: #00aeffa2;
                }

                .input:active{
                    background-color: #00aeffa2;
                }
                .input:focus{
                    background-color: #00aeffa2;
                }

                .label{
                    width: 95%;
                    margin: 5px;
                    padding: 10px 15px;

                    border: 0px solid #fff;
                    background-color: #fff;

                    border-radius: 4px;
                    -o-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                }
                
            }
            .register {
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                height:45px;
                background: #4A5F63;
                border-radius: 5px;
                -o-border-radius: 5px;
                -ms-border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                width: 100%;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                border: none;
                margin: 10px 0px 0px 0px;
                cursor: pointer;
        
            }
            .register:hover{
                background: #313d3f;
            }
        }

        
        
    }
    

}