.paciente{
    .datos{
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        .card{
            margin-bottom: 10px;
        }
        h2{
            font-size: 25px;
            font-weight: 500;
            
        }
        ul.about-info li{
            margin-bottom: 5px;
            font-size: 14px;
        }
        ul.about-info li span {
            width: calc(100% - 100px); 
        }
        ul.about-info li span:first-child {
            font-weight: 500;
            color: #000000;
            width: 130px; }   

        button{
            padding: 6px;
            margin: 0px 10px 10px 10px;
            background-color: #5eb2b3;
            color: #fff;
            font-weight: 600;
        }
    }

    .editar{
        background: #44C999;
        margin: 0px;
        padding: 10px;
        .form{
            margin: 0px;
            padding: 0px;

            .row{
                margin: 0px;
                padding: 0px;
            }

            .col-6{
                margin: 0px;
                padding: 0px;
                align-items: center;
                .input{
                    width: 95%;
                    margin: 5px;
                    padding: 10px 15px;

                    border: 0px solid #fff;
                    background-color: #fff;

                    border-radius: 4px;
                    -o-border-radius: 4px;
                    -ms-border-radius: 4px;
                    -moz-border-radius: 4px;
                    -webkit-border-radius: 4px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    
                }
                .input:hover{
                    background-color: #f4ff9d;
                }

                .input:active{
                    background-color: #e6f578;
                }
                .input:focus{
                    background-color: #9dffd6;
                }

                
                
            }
            .register {
                font-size: 18px;
                font-weight: bold;
                color: #fff;
                height:45px;
                background: #4A5F63;
                border-radius: 5px;
                -o-border-radius: 5px;
                -ms-border-radius: 5px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                width: 100%;
                box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -o-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -ms-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
                border: none;
                margin: 10px 0px 0px 0px;
                cursor: pointer;
        
            }
            .register:hover{
                background: rgb(49, 61, 63);
            }
        }

        
        
    }

    .botones{

        .card{
            width: 100%;
            margin-bottom: 10px;
            padding: 25px;
            background: #44C999;
            align-items: center;
            text-align: center;
            color: rgb(72, 77, 78);
            cursor: pointer;
        }
    }
   
    .col-5{
        margin: 0px;
        padding: 5px;
    }
    
}